{% load static %}

<script type="text/javascript">
  $("#updateCart[name^='cart']").click(function () {
    const url = $("#updateCart").attr("data-update-cart-url");
    const product_id = $(this).attr("data-product");
    const action = $(this).attr("data-action");
    console.log(url, product_id, action)
    $.ajax({
      url: url,
      type: "POST",
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: {
          'product_id': product_id,
          'action': action,
      },
      success: function (data) {
        $("#cart_result").html(data);
      }
    });
  });
</script>

<script type="text/javascript">
  $("#inupdateCart[name^='incart']").click(function () {
    const url = $("#updateCart").attr("data-update-cart-url");
    const product_id = $(this).attr("data-product");
    const action = $(this).attr("data-action");
    console.log(url, product_id, action)
    $.ajax({
      url: url,
      type: "POST",
      headers: {'X-CSRFToken': '{{ csrf_token }}'},
      data: {
          'product_id': product_id,
          'action': action,
      },
      success: function (data) {
        $("#cart_result").html(data);
      }
    });
  });
</script>

<script type="text/javascript">
  function show_alert(){
    if (confirm("are you confirm!") == true) {
      console.log($("#bt").attr("order-data"));
        $.ajax({
          url: 'confirm-order/',
          type: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {
              'order_id': $("#bt").attr("order-data")
          }
          });
        printDiv('printableArea');
    } else {
      text = "You canceled!";
    }

    
    
  };
    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      location.reload();
      //document.body.innerHTML = originalContents;
  }
  </script>
  <script src="{% static '3.3.1main.js' %}"></script>
  <script>
      $("#search").keyup(function () {
          const url = $("#brandfilterForm").attr("data-brand-filter-url");
          const search_value = $(this).val();
          console.log(search_value);
          var brand_list=[];
          var generic_list = [];
          $("input:checkbox[name^='brand']").each(function () {
              if ($(this).is(":checked")) {
                  console.log($(this).val())
                  brand_list.push($(this).val());
              }
          });
          $("input:checkbox[name^='generic']").each(function () {
            if ($(this).is(":checked")) {
                console.log($(this).val())
                generic_list.push($(this).val());
            }
        });
        console.log(brand_list)
        console.log(generic_list)
          $.ajax({
              url: url,
              data: {
                  'search_value': search_value,
                  'brand_list':brand_list, 
                  'generic_list': generic_list
              },
              success: function (data) {
                $("#search_result").html(data);
              }
          });
      });
  </script>
  <script>
    $("input:checkbox").click(function () {
      var brand_list=[];
      var generic_list = [];
      var search_value = document.getElementById("search").value;
      $("input:checkbox[name^='brand']").each(function () {
          if ($(this).is(":checked")) {
              console.log($(this).val())
              brand_list.push($(this).val());
          }
      });
      $("input:checkbox[name^='generic']").each(function () {
        if ($(this).is(":checked")) {
            console.log($(this).val())
            generic_list.push($(this).val());
        }
    });
    console.log(brand_list)
    console.log(generic_list)
      const url = $("#brandfilterForm").attr("data-brand-filter-url");
      $.ajax({
        url: url,
        data: {
          'brand_list':brand_list, 
          'generic_list': generic_list,
          'search_value': search_value,
        },
        success: function (data) {
          $("#search_result").html(data);
        }
    });
  });
</script>