<ul class="pagination">
    {% if medicines.has_previous %}
      <li><a href="?page={{ medicines.previous_page_number }}">«</a></li>
      <li><a href="?page={{ medicines.number|add:-1 }}">{{ medicines.number|add:-1 }}</a></li>
    {% else %}
      <li class="disabled"><a href="#">«</a></li>
    {% endif %}
    
    <li class="active"><a>{{ medicines.number }}</a></li>
    
    {% if medicines.has_next %}
      <li><a href="?page={{ medicines.number|add:1 }}">{{ medicines.number|add:1 }}</a></li>
      <li><a href="?page={{ medicines.next_page_number }}">»</a></li>
    {% else %}
      <li class="disabled"><a href="#">»</a></li>
    {% endif %}
  </ul>