{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="row">
          <!-- BEGIN SEARCH RESULT -->
          <div class="col-md-12">
            <div class="grid search">
              <div class="grid-body">
                <div class="row">
                  <!-- BEGIN FILTERS -->
                  <div class="col-md-2">
                    <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                    <hr>
                    
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h4>By Brand:</h4>
                    {% for brand in brands %}
                    <div class="checkbox" id="brandfilterForm" data-brand-filter-url="{% url 'shop:ajax_load_brand_filter' %}">
                      <label><input name="brand[]" type="checkbox" class="icheck" value="{{brand.name}}"> {{brand.name}}</label>
                    </div>
                    {% endfor %}
                    <!-- END FILTER BY CATEGORY -->
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h4>By Generic:</h4>
                    {% for generic in generics %}
                    <div class="checkbox">
                      <label><input name="generic[]" type="checkbox" class="icheck" value="{{generic.name}}"> {{generic.name}}</label>
                    </div>
                    {% endfor %}
                    <!-- END FILTER BY CATEGORY -->
                  </div>
                  <!-- END FILTERS -->
                  <!-- BEGIN RESULT -->
                  <div class="col-md-6">
                    <h2><i class="fa fa-file-o"></i> Medicine</h2>
                    <hr>
                    <!-- BEGIN SEARCH INPUT -->
                    <div class="input-group" id="searchForm" data-search-url="{% url 'shop:ajax_load_search' %}">
                        <input id="search" type="text" name="search" class="form-control">
                        <span class="input-group-btn">
                          <input class="btn btn-primary" type="submit" value="Search">
                        </span>
                    </div>

                  <div id="search_result">
                    <!-- END SEARCH INPUT -->
                    <p>Search Result : {{medicines_count}}</p>
                    
                    <div class="padding"></div>
                    
                    <!-- BEGIN TABLE RESULT -->
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tbody>
                        {% for medicine in medicines %}
                        <tr>
                          <td class="product"><strong>{{medicine.name}}</strong> ({{medicine.type}})<br>{{medicine.generic}}</td>
                          <td class="rate text-right">{{medicine.quantity}}</td>
                          <td class="rate text-right">${{medicine.sell_price}}</td>
                          <td class="price text-right">
                            <a style="font-weight: bold;" href="" class="update-cart ml-4" data-user = {{user.id}} data-product = {{medicine.id}} data-action = "add"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></td>                
                          </tr>
                        {% endfor %}

                      </tbody></table>
                    </div>
                    <!-- END TABLE RESULT -->
                    
                    <!-- BEGIN PAGINATION -->
                    {% include 'pagination.html' %}
                    <!-- END PAGINATION -->
                  </div>
                </div>
                  <!-- END RESULT -->
                  <div class="col-md-4">
                    <h2><i class="fa fa-file-o"></i> Invoice </h2>
                    <table class="table table-cart table-mobile">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>{{item.product.name}}</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="price-col">{{item.product.sell_price}}</td>
                          <td class="quantity-col">
                              <div class="cart-product-quantity">
                              <a style="font-weight: bold;" href="" class="update-cart mr-4" data-user = {{user.id}} data-product = {{item.product.id}} data-action = "sub">-</a>
                              {{item.quantity}}
                              <a style="font-weight: bold;" href="" class="update-cart ml-4" data-user = {{user.id}} data-product = {{item.product.id}} data-action = "add">+</a>
                              </div><!-- End .cart-product-quantity -->
                          </td>
                          <td class="total-col">{{item.get_total}}</td>
                          <td class="remove-col"><button class="btn-remove update-cart" data-user = {{user.id}} data-product = {{item.product.id}} data-action = "del"><i class="fa fa-times-circle-o"></i></button></td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
        
                      <tbody>
                        
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>Grand Total</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="total-col"></td>
                          <td class="total-col"></td>
                          <td class="total-col">{{order.get_cart_total}}</td>
                        </tr>
                      </tbody>
                    </table><!-- End .table table-wishlist -->
                    <input type="button" id="bt" onclick="printDiv('printableArea')" value="Invoice Print " />
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END SEARCH RESULT -->
        

        <div id="printableArea" class="col-md-4" style="visibility: hidden">
          <h2 style="text-align: center;"> Sabbir Medicine Shop </h2>
          <h3> Invoice No : {{order.id}} </h3>
          <table class="table table-cart table-mobile">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr>
                <td class="product-col">
                  <div class="product">
                      <p>{{item.product.name}}</p>
                  </div><!-- End .product -->
                </td>
                <td class="price-col">{{item.product.sell_price}}</td>
                <td class="quantity-col">{{item.quantity}}</td>
                <td class="total-col">{{item.get_total}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tbody>
              <tr>
                <td class="product-col">
                  <div class="product">
                      <p>Grand Total</p>
                  </div><!-- End .product -->
                </td>
                <td class="total-col"></td>
                <td class="total-col"></td>
                <td class="total-col">{{order.get_cart_total}}</td>
              </tr>
            </tbody>
          </table><!-- End .table table-wishlist -->
        </div>
        
        <style type="text/css">
        body{
        background:#eee;
        }
        
        .btn {
            margin-bottom: 5px;
        }
        
        .grid {
            position: relative;
            width: 100%;
            background: #fff;
            color: #666666;
            border-radius: 2px;
            margin-bottom: 25px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        }
        
        .grid .grid-body {
            padding: 15px 20px 15px 20px;
            font-size: 0.9em;
            line-height: 1.9em;
        }
        
        .search table tr td.rate {
            color: #f39c12;
            line-height: 50px;
        }
        
        .search table tr:hover {
            cursor: pointer;
        }
        
        .search table tr td.image {
            width: 50px;
        }
        
        .search table tr td img {
            width: 50px;
            height: 50px;
        }
        
        .search table tr td.rate {
            color: #f39c12;
            line-height: 50px;
        }
        
        .search table tr td.price {
            font-size: 1.5em;
            line-height: 50px;
        }
        
        .search #price1,
        .search #price2 {
            display: inline;
            font-weight: 600;
        }
        
        .space{
            letter-spacing: 0.8px !important;
        }
        
        .row {
            margin-right: -15px;
            margin-left: 0px;
        }
        </style>
        
        <script type="text/javascript">
          function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
        </script>
        <script src="{% static '3.3.1main.js' %}"></script>
        <script>
            $("#search").keyup(function () {
                const url = $("#searchForm").attr("data-search-url");  // get the url of the `load_cities` view
                const countryId = $(this).val();  // get the selected country ID from the HTML input
                console.log(countryId);
                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'country_id': countryId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                      $("#search_result").html(data);  // replace the contents of the city input with the data that came from the server
                    }
                });
            });
        </script>
        <script>
          $("input:checkbox").click(function () {
            var brand_list=[];
            var generic_list = [];
            $("input:checkbox[name^='brand']").each(function () {
                if ($(this).is(":checked")) {
                    console.log($(this).val())
                    brand_list.push($(this).val());
                }
            });
            $("input:checkbox[name^='generic']").each(function () {
              if ($(this).is(":checked")) {
                  console.log($(this).val())
                  generic_list.push($(this).val());
              }
          });
          console.log(brand_list)
          console.log(generic_list)
            const url = $("#brandfilterForm").attr("data-brand-filter-url");
            $.ajax({
              url: url,
              data: {'brand_list':brand_list, 'generic_list': generic_list},
              success: function (data) {
                $("#search_result").html(data);
              }
          });
        });
      </script>

    {% endblock content %}