{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="row">
          <!-- BEGIN SEARCH RESULT -->
          <div class="col-md-12">
            <div class="grid search">
              <div class="grid-body">
                <div class="row">
                  <!-- BEGIN FILTERS -->
                  <div class="col-md-2">
                    <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                    <hr>
                    
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h4>By Brand:</h4>
                    {% for brand in brands %}
                    <div class="checkbox" id="brandfilterForm" data-brand-filter-url="{% url 'shop:ajax_load_search_and_filter' %}">
                      <label><input name="brand[]" type="checkbox" class="icheck" value="{{brand.name}}"> {{brand.name}}</label>
                    </div>
                    {% endfor %}
                    <!-- END FILTER BY CATEGORY -->
                    <!-- BEGIN FILTER BY CATEGORY -->
                    <h4>By Generic:</h4>
                    {% for generic in generics %}
                    <div class="checkbox">
                      <label><input name="generic[]" type="checkbox" class="icheck" value="{{generic.name}}"> {{generic.name}}</label>
                    </div>
                    {% endfor %}
                    <!-- END FILTER BY CATEGORY -->
                  </div>
                  <!-- END FILTERS -->
                  <!-- BEGIN RESULT -->
                  <div class="col-md-6">
                    <h2><i class="fa fa-medkit" aria-hidden="true"></i> Medicine</h2>
                    <hr>
                    <!-- BEGIN SEARCH INPUT -->
                    <div class="input-group" id="searchForm" data-search-url="{% url 'shop:ajax_load_search_and_filter' %}">
                        <input id="search" type="text" name="search" class="form-control">
                        <span class="input-group-btn">
                          <input class="btn btn-primary" type="submit" value="Search">
                        </span>
                    </div>

                  <div id="search_result">
                    <!-- END SEARCH INPUT -->
                    <p>Search Result : {{medicines_count}}</p>
                    
                    <div class="padding"></div>
                    
                    <!-- BEGIN TABLE RESULT -->
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Medicine Name</th>
                            <th class="rate text-center">Place</th>
                            <th class="rate text-center">Quantity</th>
                            <th class="rate text-center">Price</th>
                            <th class="rate text-center">Action</th>
            
                          </tr>
                        </thead>
                        <tbody>
                        {% for medicine in medicines %}
                        <tr>
                          <td class="product"><strong>{{medicine.name}}</strong> ({{medicine.type}})<br>{{medicine.generic}}</td>
                          <td class="rate text-center">{{medicine.place}}</td>
                          <td class="rate text-center">{{medicine.quantity}}</td>
                          <td class="rate text-center">${{medicine.sell_price}}</td>
                          <td class="price text-center">
                            <a style="font-weight: bold;" id="updateCart" name="cart[]" data-update-cart-url="{% url 'shop:update_item' %}" class="ml-4" data-product={{medicine.id}} data-action="add"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></td>                
                        </tr>
                        {% endfor %}

                      </tbody></table>
                    </div>
                    <!-- END TABLE RESULT -->
                    
                    <!-- BEGIN PAGINATION -->
                    {% include 'partials/pagination.html' %}
                    <!-- END PAGINATION -->
                  </div>
                </div>
                  <!-- END RESULT -->
                  <div id="cart_result">
                  <div class="col-md-4">
                    <h2><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Invoice </h2>
                    <hr>
                    <table class="table table-cart table-mobile">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                     
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>{{item.product.name}}</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="price-col">{{item.product.sell_price}}</td>
                          <td class="quantity-col">
                              <div class="cart-product-quantity">
                              <a style="font-weight: bold;" class="mr-4" id="inupdateCart" name="incart[]" data-update-cart-url="{% url 'shop:update_item' %}" data-product = {{item.product.id}} data-action = "sub"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                              &nbsp; {{item.quantity}}  &nbsp;
                              <a style="font-weight: bold;" class="ml-4" id="inupdateCart" name="incart[]" data-update-cart-url="{% url 'shop:update_item' %}" data-product = {{item.product.id}} data-action = "add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                              </div><!-- End .cart-product-quantity -->
                          </td>
                          <td class="total-col">{{item.get_total}}</td>
                          <td class="remove-col"><a id="inupdateCart" name="incart[]" data-update-cart-url="{% url 'shop:update_item' %}" data-product = {{item.product.id}} data-action = "del"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
        
                      <tbody>
                        
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>Grand Total</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="total-col"></td>
                          <td class="total-col"></td>
                          <td class="total-col">{{order.get_cart_total}}</td>
                        </tr>
                      </tbody>
                    </table><!-- End .table table-wishlist -->
                    {% if order %}
                    <input class="center-block btn btn-primary" type="button" id="bt" onclick="show_alert()" order-data={{order.id}} value="Invoice Print" />
                    {% else %}
                    <input class="center-block" type="button" value="Invoice Print" />
                    {% endif %}
                  </div>
                  
                  <div id="printableArea" class="col-md-4" style="visibility: hidden">
                    <h2 style="text-align: center;"> Sabbir Medicine Shop </h2>
                    <h3> Invoice No : {{order.id}} </h3>
                    <table class="table table-cart table-mobile">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in items %}
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>{{item.product.name}}</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="price-col">{{item.product.sell_price}}</td>
                          <td class="quantity-col">{{item.quantity}}</td>
                          <td class="total-col">{{item.get_total}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tbody>
                        <tr>
                          <td class="product-col">
                            <div class="product">
                                <p>Grand Total</p>
                            </div><!-- End .product -->
                          </td>
                          <td class="total-col"></td>
                          <td class="total-col"></td>
                          <td class="total-col">{{order.get_cart_total}}</td>
                        </tr>
                      </tbody>
                    </table><!-- End .table table-wishlist -->
                  </div>


                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END SEARCH RESULT -->
        
    {% include 'partials/css.html' %}
    {% include 'partials/js.html' %}

{% endblock content %}